<mat-card>
    <mat-card-title>Login</mat-card-title>
    <mat-card-content>
        <form [formGroup]="loginForm" (ngSubmit)="onSubmitLogin()">

            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" placeholder="Email">
                <mat-icon matSuffix>mail_outline</mat-icon>
            </mat-form-field>

            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Parola</mat-label>
                <input matInput formControlName="password" [type]="hidePassword ? 'password' : 'text'">
                <button type="button" mat-icon-button matSuffix (click)="hidePassword = !hidePassword"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword">
                    <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <p class="forgot-password" routerLink="/forgot-password">Am uitat parola</p>
            <button mat-flat-button color="primary" type="submit">Intra in cont</button>

            @if (wrongCredentials) {
            <p style="color: red;">Adresa de email sau parola incorecte</p>
            }

        </form>
    </mat-card-content>
</mat-card>