<h2 mat-dialog-title>Appointment</h2>
<mat-dialog-content>
    <p>Patient: {{appointment.user.firstName}} {{appointment.user.lastName}}</p>
    <p>Hospital: {{appointment.hospital.name}}</p>
    <p>Medic: {{appointment.medic.firstName}} {{appointment.medic.lastName}}</p>
    <p>Sectia: {{appointment.specialization.name}}</p>
    <p>Time: {{appointment.date | date:'dd-MM-yyyy'}} - {{appointment.time | time}}</p>
    <p>Description: {{appointment.description}}</p>
    <p>Summary: {{appointment.summary}}</p>

    @if(!appointment.summary){
        <mat-form-field>
            <mat-label>Sumar</mat-label>
            <textarea matInput [formControl]="summary" placeholder="Adauga sumarul consultatiei"></textarea>
        </mat-form-field>
        <button mat-flat-button color="primary" type="button" (click)="addSummary()">Confirma</button>
        
    }
    @else {
        <button mat-flat-button color="primary" type="button" (click)="createPDF()">Descarca PDF</button>
    }
    

</mat-dialog-content>