<mat-card style="margin: 5%; text-align: center;">
    <mat-card-title>Appointment Requests</mat-card-title>
    <mat-card-content>
        @for (userAppointment of userAppointments; track userAppointment.id) {
        <mat-card  style="cursor: pointer;" (click)="openUserAppointmentDialog(userAppointment)">
            <!-- <mat-card-title></mat-card-title> -->
            <mat-card-content>
                Patient: {{userAppointment.user.firstName}} {{userAppointment.user.lastName}} | 
                Hospital: {{userAppointment.hospital.name}} | 
                Medic: {{userAppointment.medic.firstName}} {{userAppointment.medic.lastName}}| 
                {{userAppointment.specialization.name}} | 
                Time: {{userAppointment.date | date:'dd-MM-yyyy'}} - {{userAppointment.time | time}}
                <p>Mentiuni: {{userAppointment.description}}</p>
            </mat-card-content>
        </mat-card>
        }
    </mat-card-content>
</mat-card>

<mat-card style="margin: 5%; text-align: center;">
    <mat-card-title>Confirmed Appointments</mat-card-title>
    <mat-card-content>
        @for (appointment of appointments; track appointment.id) {
        <mat-card style="cursor: pointer;" (click)="openAppointmentDialog(appointment)">
            <!-- <mat-card-title></mat-card-title> -->
            <mat-card-content>
                Patient: {{appointment.user.firstName}} {{appointment.user.lastName}} | 
                Hospital: {{appointment.hospital.name}} | 
                Medic: {{appointment.medic.firstName}} {{appointment.medic.lastName}} | 
                {{appointment.specialization.name}} | 
                Time: {{appointment.date | date:'dd-MM-yyyy'}} - {{appointment.time | time}}
                <p>{{appointment.description}}</p>
            </mat-card-content>
        </mat-card>
        }
    </mat-card-content>
</mat-card>

<app-appointment-form [isStaff]="true"></app-appointment-form>