<h2 mat-dialog-title>User Appointment</h2>
<mat-dialog-content>
    <p>Patient: {{appointment.user.firstName}} {{appointment.user.lastName}}</p>
    <p>Hospital: {{appointment.hospital.name}}</p>
    <p>Medic: {{appointment.medic.firstName}} {{appointment.medic.lastName}}</p>
    <p>Sectia: {{appointment.specialization.name}}</p>
    <p>Time: {{appointment.date | date:'dd-MM-yyyy'}} - {{appointment.time | time}}</p>
    <p>{{appointment.description}}</p>
</mat-dialog-content>
<div>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onCloseClick()">Close</button>
    <!-- <button mat-raised-button color="primary" [mat-dialog-close]="data." (click)="onCloseClick()">Create Appointment</button> -->
</mat-dialog-actions>
<mat-dialog-actions>
    <button mat-raised-button color="primary" (click)="onConfirmClick()">Confirm</button>
    <!-- <button mat-raised-button color="primary" [mat-dialog-close]="data." (click)="onCloseClick()">Create Appointment</button> -->
</mat-dialog-actions>
<mat-dialog-actions>
    <button mat-raised-button color="warn" (click)="onDeleteClick()">Delete</button>
    <!-- <button mat-raised-button color="primary" [mat-dialog-close]="data." (click)="onCloseClick()">Create Appointment</button> -->
</mat-dialog-actions>
</div>