<h2 mat-dialog-title>Programare</h2>
<mat-dialog-content>
    <p>Pacient: {{appointment.user.firstName}} {{appointment.user.lastName}}</p>
    <p>Spital: {{appointment.hospital.name}}</p>
    <p>Medic: {{appointment.medic.firstName}} {{appointment.medic.lastName}}</p>
    <p>Sectia: {{appointment.specialization.name}}</p>
    <p>Data si ora: {{appointment.date | date:'dd-MM-yyyy'}} - {{appointment.time | time}}</p>
    <p>Mentiuni: {{appointment.description}}</p>
    <p>Notele medicului: {{appointment.summary}}</p>

    @if(!appointment.summary){
    @if (isStaff) {
    <mat-form-field>
        <mat-label>Sumar</mat-label>
        <textarea matInput [formControl]="summary" placeholder="Adauga sumarul consultatiei"></textarea>
    </mat-form-field>
    <button mat-flat-button color="primary" type="button" (click)="addSummary()">Confirma</button>
    }
    }
    @else {
    <button mat-flat-button color="primary" type="button" (click)="createPDF()">Descarca PDF</button>
    }

</mat-dialog-content>