<h2 mat-dialog-title>Cerere de programare</h2>
<mat-dialog-content>
    <p>Pacient: {{appointment.user.firstName}} {{appointment.user.lastName}}</p>
    <p>Spital: {{appointment.hospital.name}}</p>
    <p>Medic: {{appointment.medic.firstName}} {{appointment.medic.lastName}}</p>
    <p>Sectia: {{appointment.specialization.name}}</p>
    <p>Data si ora: {{appointment.date | date:'dd-MM-yyyy'}} - {{appointment.time | time}}</p>
    <p>Mentiuni: {{appointment.description}}</p>
</mat-dialog-content>
<div>
    <mat-dialog-actions>
        <button mat-raised-button color="primary" (click)="onCloseClick()">Inchide</button>
    </mat-dialog-actions>
    <mat-dialog-actions>
        @if (isStaff) {
        <button mat-raised-button color="primary" (click)="onConfirmClick()">Confirma</button>
        }
    </mat-dialog-actions>
    <mat-dialog-actions>
        @if (isStaff) {
        <button mat-raised-button color="warn" (click)="onDeleteClick()">Sterge</button>
        }
    </mat-dialog-actions>
</div>