<mat-card>
    <mat-card-title>Cere o programare</mat-card-title>
    <mat-card-content>
        <form [formGroup]="isStaff ? appointmentForm : userAppointmentForm" #formDirective="ngForm" (ngSubmit)="onSubmitAppointment(formDirective)">
            @if (isStaff) { <!-- needs edit -->
            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Utilizator</mat-label>
                <input matInput formControlName="userId" placeholder="User">
            </mat-form-field>
            }

            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Sectie</mat-label>
                <mat-select [(value)]="selectedSpecialization" formControlName="specialization">
                    @for (specialization of specializations; track $index) {
                    <mat-option value={{specialization.id}}>{{specialization.name}}</mat-option>
                    }
                </mat-select>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Investigatie</mat-label>
                <mat-select formControlName="product">
                    @for (product of products; track $index) {
                    <mat-option value={{product.id}}>{{product.specialization_name}} - {{product.name}}</mat-option>
                    }
                </mat-select>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Spital</mat-label>
                <mat-select [value]="selectedHospital" formControlName="hospital">
                    @for (hospital of hospitals$ | async; track $index) {
                    <mat-option value={{hospital.id}}>{{hospital.name}}</mat-option>
                    }
                </mat-select>
            </mat-form-field>

            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Medic</mat-label>
                <input type="text" matInput formControlName="medic"
                    [matAutocomplete]="auto">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayMedicOptions" (optionSelected)="onMedicChange($event)">
                    @for (medic of filteredMedics$ | async; track $index) {
                    <mat-option [value]="medic.id">{{medic.first_name}} {{medic.last_name}}</mat-option>
                    }
                </mat-autocomplete>
            </mat-form-field>

            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Alege ziua</mat-label>
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="datepicker" formControlName="date">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
                <mat-datepicker #datepicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Ora</mat-label>
                <mat-select formControlName="time">
                    <mat-option value="08:00">8:00</mat-option>
                    <mat-option value="09:00">9:00</mat-option>
                    <mat-option value="10:00">10:00</mat-option>
                    <mat-option value="11:00">11:00</mat-option>
                    <mat-option value="12:00">12:00</mat-option>
                    <mat-option value="13:00">13:00</mat-option>
                    <mat-option value="14:00">14:00</mat-option>
                    <mat-option value="15:00">15:00</mat-option>
                    <mat-option value="16:00">16:00</mat-option>
                    <mat-option value="17:00">17:00</mat-option>
                    <mat-option value="18:00">18:00</mat-option>
                    <mat-option value="19:00">19:00</mat-option>
                    <mat-option value="20:00">20:00</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field hideRequiredMarker="true" appearance="outline">
                <mat-label>Mentiuni</mat-label>
                <textarea matInput formControlName="description" placeholder="Description"></textarea>
                <!-- <mat-hint>Hint</mat-hint> -->
            </mat-form-field>

            <button mat-flat-button color="primary" type="submit">Trimite</button>

        </form>
    </mat-card-content>
</mat-card>